* {
  margin: 0;
  padding: 0;
  
}
:root{
  font-family: "Alice", serif;
  /* background-color: #573824; */
  /* surface-color: #F0E8C2 */
  /* text-color-primary: #291B1A */
  /* text-color-secondary: #573a37 */
  /* text-color-on-bg: #F0E8C2 */
  color: #573a37;

}

body {


background-image: url(/assets/images/bg-image.jpg);
background-size: cover;

  
}

#container {
  width: 50rem;
  padding: 1.5rem;
  margin: 3rem auto 1.75rem;
  background-color: #F0E8C2;
  border-radius: 1rem;

  /* O box sizing border-box tirou os espaços que o padding/margin adicionaram */
  box-sizing: border-box;

}

img { 
  border-radius: 1rem;
}

main {
  padding: 1.5rem;
  
}

#about p {
  margin-bottom: .75rem;
}

#about ul {
  list-style: none;
  /* margin: 0; */
  padding: 0;
}

section + section {
  margin-top: 1.5rem;
}

#ingredients ul {
  padding-left: 1.5rem;
  
}

#ingredients li {
  padding-bottom: .4rem ;
}









h1 {
   font-size: 2.5rem;
   line-height: 140%;
   font-weight: 400;
   
}

h2 { 
font-size: 1.5rem;
line-height: 150%;
font-weight: 400;
}

h1, h2 {
color: #291B1A;
margin-bottom: .25rem;
}

p {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  

}

footer {
  padding-bottom: 3rem;
  text-align: center;
  color: #F0E8C2;

}
footer img {

  vertical-align: middle;
}
