body {
  /* background-color: #573824; */
  /* surface-color: #F0E8C2 */
  /* text-color-primary: #291B1A */
  /* text-color-secondary: #573a37 */
  /* text-color-on-bg: #F0E8C2 */
font-family: "Alice", serif;

  
}

h1 {
   font-size: 2.5rem;
   line-height: 140%;
   font-weight: 400;
}

h2 { 
font-size: 40px;
line-height: 150%;
font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}